link-workspace-packages     = false
prefer-workspace-packages   = false
ignore-workspace-root-check = true
strict-peer-dependencies    = false
publish-branch              = main
auto-install-peers          = false
